<tr style="background-color: ${color};">
	<td style="font-family: Microsoft JhengHei; font-size: 14px; padding: 10px 5px; border: 1px solid #ccc;">
		<a href="${link}"><img src="https://cf.shopee.tw/file/${image}_tn" style="height: 50px;"></a>
	</td>
	<td style="font-family: Microsoft JhengHei; font-size: 14px; padding: 10px 5px; border: 1px solid #ccc;">
		<a href="${link}">${name}</a>
	</td>
	<td style="font-family: Microsoft JhengHei; font-size: 14px; padding: 10px 5px; border: 1px solid #ccc; text-align: center;">${price}</td>
</tr>