<table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #ccc;">
	<tr>
		<th style="font-family: Microsoft JhengHei; font-size: 14px; padding: 10px 5px; border: 1px solid #ccc; text-align: center; background-color: #f0f0f0;">圖片</th>
		<th style="font-family: Microsoft JhengHei; font-size: 14px; padding: 10px 5px; border: 1px solid #ccc; text-align: center; background-color: #f0f0f0;">品名</th>
		<th style="font-family: Microsoft JhengHei; font-size: 14px; padding: 10px 5px; border: 1px solid #ccc; text-align: center; background-color: #f0f0f0;">價格</th>
	</tr>
	%s
</table>