<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="app" source="app.name" defaultValue="APP" />
    <appender name="SLACK" class="ninja.logging.SlackAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <token>${slack.bot.token:-}</token>
        <channel>${slack.dm.channel:-}</channel>
        <app>${app}</app>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SLACK" />
    </root>
</configuration>